.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.hero__button-help, .hero__button-volunteer {
  background: #005BBB;
  border-radius: 30px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.hero__button-help:hover, .hero__button-volunteer:hover {
  box-shadow: none;
  background: #FFD500;
  transition: all 250ms linear, transform 500ms ease-in-out;
}

.hero__button-help {
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 77px;
  padding-right: 78px;
}

.hero__button-volunteer {
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 46px;
  padding-right: 47px;
}

body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1200px;
}

ul {
  list-style: none;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.about__text {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.help__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.help__bankdetails {
  box-shadow: 10px 10px 28px 0px rgb(0, 0, 0);
  max-width: 500px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  background: rgba(0, 91, 187, 0.33);
}

.help__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
}

.help__button {
  background-color: #FFD500;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  border: none;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 77px;
  padding-right: 78px;
  border-radius: 30px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.help__button:hover {
  background: #005BBB;
  box-shadow: none;
  transition: all 250ms linear, transform 500ms ease-in-out;
}

.help__text {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.help__titlegeneral {
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.gethelp__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gethelp__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.gethelp__text {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__listitem {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}/*# sourceMappingURL=main.css.map */