.help__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.help__bankdetails {
    box-shadow: 10px 10px 28px 0px rgba(0,0,0,1);
    max-width: 500px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(0, 91, 187, 0.33);
}

.help__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
}

.help__button {
    background-color: #FFD500;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    border: none;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 77px;
    padding-right: 78px;
    border-radius: 30px;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.help__button:hover {
    background: #005BBB;
    box-shadow: none;
    transition: all 250ms linear, transform 500ms ease-in-out;
}

.help__text {
    max-width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-shadow: 5px 4px 8px rgba(0,0,0,0.6);
}

.help__titlegeneral {
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    text-shadow: 5px 4px 8px rgba(0,0,0,0.6);
}